body {
    font-family: 'Raleway', sans-serif;
    background: #f0f0f0;
}

.no-categories {
    text-align: center;
    font-size: 1.5rem;
}

.book-card {
    // min-width: 18rem;
    max-width: 20rem;
    min-width: 18rem;
    height: 18rem;
}
